.welcome__section {
  grid-area: welcome__section;
  margin-top: -150px;

  border-top: 150px solid transparent;
  background-color: $dark-color;

  &--description {
    z-index: 2;
    order: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }

  &--slider {
    order: 2;
    flex-basis: 50%;
    display: flex;
    margin: auto 0 0 auto;
    max-width: 600px;
    height: 120px;

    background-color: $dark-color;
  }
}

.welcome__container {
  position: relative;

  display: flex;
  height: 100%;

  background-image: url("../assets/img/welcome-slider/1.jpg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) calc(100% - 60px);

  &::after {
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    width: 100%;
    height: 100%;

    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 50%);
  }
}

.welcome__description {
  margin-top: 25px;
  margin-bottom: 75px;

  font: normal 300 28px/33px "RobotoLight";
  letter-spacing: 2px;
  color: $light-color;
}



// ================= Slider navigation ================= //

.slider__navigation {
  z-index: 2;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px;

  & .slider__labels {
    font: normal 400 22px/40px "RobotoRegular";
    color: $light-color;

    &.slide__label--separator {
      margin: 5px;
    }
  }

  & .slider__checkboxes {
    width: 180px;

    & .option-input {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      position: relative;
      top: 0;
      left: 0;
      z-index: 2;

      display: inline-block;
      height: 16px;
      width: 16px;

      background: $light-color;
      border: none;
      outline: none;
      cursor: pointer;

      transition: all 0.15s ease-out 0s;

      &:not(:last-child) {
        margin-right: 21px;
      }

      &:hover {
        background: $light-color-and-shadow;
      }

      &:checked {
        background: $gold-color;
      }

      &:checked:hover {
        background: $dark-gold-color;
      }
    }
  }

  & .slider__nav-arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 82px;
    height: 40px;
    padding-bottom: 8px;

    font: normal 600 28px/28px "RobotoRegular";
    color: $light-color;
  }
}