// USER VARIABLES SECTION

// Colors
$light-color: #ffffff;
$light-color-and-shadow: rgba(255, 255, 255, 0.75);
$dark-color: #030303;
$red-color: #710707;
$gold-color: #9d8665;
$dark-gold-color: #7e6c51;
$gray-color: #e7e7e7;
$dark-gray-color: #999999;

// Fonts
$section-title-font: normal 400 80px/90px "Forum";
$section-subtitle-font: normal 400 32px/35px "Forum";
$section-text-font: normal 300 22px/38.5px "RobotoLight";
$section-thin-text-font: normal 200 22px/25px "RobotoThin";
$section-extrathin-text-font: normal 200 18px/21px "RobotoThin";
$navigation-font: normal 100 22px/32px "RobotoThin";
$logo-font: normal 400 28px/31px "Forum";

$systemfont: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji"; // System Font Family

// FONTS LOAD SECTION

@mixin font($ffamily, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $ffamily;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format("woff");
  }
}

@include font("RobotoThin", normal, 100, "../fonts/RobotoThin.woff");
@include font("RobotoLight", normal, 300, "../fonts/RobotoLight.woff");
@include font("RobotoRegular", normal, 400, "../fonts/RobotoRegular.woff");
@include font("RobotoMedium", normal, 500, "../fonts/RobotoMedium.woff");
@include font("RobotoBold", normal, 700, "../fonts/RobotoBold.woff");
@include font("Forum", normal, 400, "../fonts/Forum.woff");