.explore__section {
  grid-area: explore__section;
  margin-top: -150px;

  border-top: 150px solid transparent;
  background: $dark-color;
  background-clip: padding-box;

  &--description {
    order: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 60px;
  }

  &--slider {
    position: relative;
    order: 2;
    flex-basis: 50%;

    width: 700px;
    height: 700px;

    background-image: url("../img/explore-slider/before.jpg");
    background-repeat: no-repeat;
    background-position: 100% 100%;

    &::after {
      position: absolute;
      top: 0;
      right: 0;

      content: "";
      width: 280px;
      height: 100%;

      background-image: url("../img/explore-slider/after.jpg");
      background-repeat: no-repeat;
      background-position: 100% 100%;
    }
  }

  &--delimiter {
    position: absolute;
    top: 0;
    right: calc(280px - 19.5px);
    z-index: 2;
  }
}

.explore__container {
  display: flex;
  height: 100%;
  padding: 75px 0;
}

.section__text {
  margin-bottom: 25px;

  font: $section-text-font;
  color: $light-color;

  &.first__paragraph {
    margin-top: 100px;
  }
}