.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 199px;

  font: $logo-font;
  letter-spacing: 5px;
  line-height: 35px;
  text-transform: uppercase;
  color: $light-color;
}