.social__list {
  display: flex;
  justify-content: space-between;
  width: 340px;
}

.social__link {
  position: relative;
  width: 48px;
  height: 48px;

  border: 1px solid $light-color-and-shadow;
  border-radius: 50%;

  transition: all 0.8s linear;

  &:hover,
  &:focus {
    border-color: $gold-color;
  }

  &:active {
    border-color: $dark-gold-color;
  }

  &:hover .social__icon,
  &:focus .social__icon {
    background-color: $gold-color;
  }

  &:active .social__icon {
    background-color: $dark-gold-color;
  }
}

.social__icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 24px;
  height: 24px;
  margin: auto;

  background-color: $light-color;

  -webkit-mask-size: cover;
  transition: 0.8s;

  &.youtube {
    -webkit-mask-image: url("../img/svg/social/youtube__icon.svg");
  }

  &.instagram {
    -webkit-mask-image: url("../img/svg/social/instagram__icon.svg");
  }

  &.facebook {
    -webkit-mask-image: url("../img/svg/social/facebook__icon.svg");
  }

  &.twitter {
    -webkit-mask-image: url("../img/svg/social/twitter__icon.svg");
  }

  &.pinterest {
    -webkit-mask-image: url("../img/svg/social/pinterest__icon.svg");
  }
}