.btn {
  display: inline-block;
  vertical-align: top;
  padding: 24px 63px;
  width: 360px;

  background-color: $red-color;
  border: none;
  cursor: pointer;
  border-radius: 10px;

  font: normal 300 22px/26px "RobotoLight";
  letter-spacing: 2px;
  color: $light-color-and-shadow;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.4s linear;

  &:hover,
  &:focus {
    color: $light-color-and-shadow;

    background-color: $gold-color;
  }
}