<section class="contacts__section" id="contacts">

  <div class="container contacts__container">

    <h2 class="section__title section__title--gold underline__title">
      Contacts
    </h2>
    <!-- /.section__title -->

    <div class="contacts__main">

      <div class="section__description">

        <h3 class="official__name">
          Palais Royal<br>
          Musee du Louvre
        </h3>

        <address>

          <p class="contacts">
            address: 75001 Paris, France
          </p>
          <p class="contacts">
            phone: <a class="contacts" href="tel:+330140205050">+33(0) 1 40 20 50 50</a>
          </p>
          <p class="contacts">
            mail: <a class="contacts" href="mailto:info@louvre.fr">info@louvre.fr</a>
          </p>

        </address>

      </div>
      <!-- /.section__description -->

      <div class="map" id="map"></div>
      <!-- /.map -->
    </div>
    <!-- /.contacts__main -->

  </div>
  <!-- /.container contacts__container -->

</section>
<!-- /.contacts__section -->