<section class="video__section" id="video">

  <div class="container video__container">

    <div class="video__section--head">
      <h2 class="section__title section__title--gold">
        Video Journey
      </h2>
      <!-- /.section__title -->

      <p class="video__section--description">
        Enter and visit one of the most famous museums in the world and enjoy masterpieces such as Mona Lisa or
        Hammurabi's Code
      </p>
      <!-- /.section__text -->

    </div>
    <!-- /.video__section-head -->

    <div class="video__section--main">
      <div class="video__section--controls">
        <input class="progress-bar progress-bar--video" type="range" value="54" min="0" max="100" step="1">
        <input class="progress-bar progress-bar--audio" type="range" value="40" min="0" max="100" step="1">
      </div>


    </div>
    <!-- /.video__section-main -->

    <div class="video__section--footer">

      <div class="video__section--slider">

        <div class="video__section--slide">

          <iframe width="452" height="254" src="https://www.youtube.com/embed/aWmJ5DgyWPI"
            title="Exposition - Le Corps et l’Ame. De Dona Rosa" style="border:0;"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen="allowfullscreen" loading="lazy"></iframe>

        </div>
        <!-- /.video__section-slide2 -->

        <div class="video__section--slide">

          <iframe width="452" height="254" src="https://www.youtube.com/embed/Vi5D6FKhRmo"
            title="Au Louvre ! La Venus de Milo" style="border:0;"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen="allowfullscreen" loading="lazy"></iframe>

        </div>
        <!-- /.video__section-slide2 -->

        <div class="video__section--slide">

          <iframe width="452" height="254" src="https://www.youtube.com/embed/NOhDysLnTvY"
            title="Promenade dans les collections mesopotamia" style="border:0;"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen="allowfullscreen" loading="lazy"></iframe>

        </div>
        <!-- /.video__section-slide3 -->

      </div>
      <!-- /.video__section-slider -->

      <div class="slider__pagination">

        <a class="nav-arrow" href="#">«</a>
        <div class="slider__checkboxes">
          <input class="option-input checkbox" type="checkbox" checked />
          <input class="option-input checkbox" type="checkbox" />
          <input class="option-input checkbox" type="checkbox" />
          <input class="option-input checkbox" type="checkbox" />
          <input class="option-input checkbox" type="checkbox" />
        </div>
        <!-- /.slider__checkboxes -->
        <a class="nav-arrow" href="#">»</a>
      </div>
      <!-- /.slider__pagination -->

    </div>
    <!-- /.video__section-footer -->

  </div>
  <!-- /.container video__container -->

</section>
<!-- /.video__section -->