<section class="welcome__section" id="home">

  <div class="container welcome__container">

    <div class="welcome__section--description">
      <h2 class="section__title">
        Welcome
      </h2>
      <h1 class="section__title">
        to the Louvre
      </h1>
      <!-- /.section__title -->
      <p class="welcome__description">
        From the castle to the museum
      </p>
      <!-- /.welcome__description -->
      <a class="btn" href="tour1.html" target="_blank" rel="nofollow">
        Discover the Louvre
      </a>
      <!-- /.btn -->
    </div>
    <!-- /.welcome__section-left__side -->


    <div class="welcome__section--slider">

      <div class="slider__navigation">

        <div class="slider__labels">
          <label class="slide__label" for="slide1">01</label>
          <span class="slide__label--separator">|</span>
          <label class="slide__label slide__label--general" for="slide5">05</label>
        </div>
        <!-- /.slide__labels -->

        <div class="slider__checkboxes">
          <input class="option-input checkbox" id="slide1" type="checkbox" checked />
          <input class="option-input checkbox" id="slide2" type="checkbox" />
          <input class="option-input checkbox" id="slide3" type="checkbox" />
          <input class="option-input checkbox" id="slide4" type="checkbox" />
          <input class="option-input checkbox" id="slide5" type="checkbox" />
        </div>
        <!-- /.slider__checkboxes -->

        <div class="slider__nav-arrows">
          <a class="nav-arrow naw-arrow--left" href="#">←</a>
          <a class="nav-arrow naw-arrow--right" href="#">→</a>
        </div>
        <!-- /.slider__nav-arrows -->

      </div>
      <!-- /.slider__navigation -->

    </div>
    <!-- /.welcome__section-right__side -->
  </div>
  <!-- /.container -->

</section>
<!-- /.welcome__section -->