<div class="container footer__container">

  <div class="footer__main">

    <figure class="logo footer__logo">
      <img src="assets/img/svg/louvre-logo.svg" alt="logo: Louvre logo" width="49" height="26">
      <figcaption>
        <a href="#home">
          Louvre
        </a>
      </figcaption>
    </figure>
    <!-- /.logo -->

    <nav class="nav__footer">

      <ul class="nav__footer--list">
        <li class="nav__footer--item">
          <a href="#visiting" class="nav__footer--link">
            Visiting
          </a>
          <!-- /.nav__footer-link -->
        </li>
        <!-- /.nav__footer-item -->
        <li class="nav__footer--item">
          <a href="#explore" class="nav__footer--link">
            Explore
          </a>
          <!-- /.nav__footer-link -->
        </li>
        <!-- /.nav__footer-item -->
        <li class="nav__footer--item">
          <a href="#video" class="nav__footer--link">
            Video
          </a>
          <!-- /.nav__footer-link -->
        </li>
        <!-- /.nav__footer-item -->
      </ul>
      <!-- /.nav__footer-list -->

      <ul class="nav__footer--list">

        <li class="nav__footer--item">
          <a href="#gallery" class="nav__footer--link">
            Gallery
          </a>
          <!-- /.nav__footer-link -->
        </li>
        <!-- /.nav__footer-item -->
        <li class="nav__footer--item">
          <a href="#tickets" class="nav__footer--link">
            Tickets
          </a>
          <!-- /.nav__footer-link -->
        </li>
        <!-- /.nav__footer-item -->
        <li class="nav__footer--item">
          <a href="#contacts" class="nav__footer--link">
            Contacts
          </a>
          <!-- /.nav__footer-link -->
        </li>
        <!-- /.nav__footer-item -->
      </ul>
      <!-- /.nav__footer-list -->
    </nav>
    <!-- /.nav__footer -->

    <div class="footer__social-field">

      <ul class="social__list">

        <li class="social__link">
          <a class="social__icon youtube" href="https://www.youtube.com/user/louvre" target="_blank"
            rel="noopener noreferrer"></a>
        </li>
        <!-- /.social__link -->
        <li class="social__link">
          <a class="social__icon instagram" href="https://www.instagram.com/museelouvre/" target="_blank"
            rel="noopener noreferrer"></a>
        </li>
        <!-- /.social__link -->
        <li class="social__link">
          <a class="social__icon facebook" href="https://www.facebook.com/museedulouvre" target="_blank"
            rel="noopener noreferrer"></a>
        </li>
        <!-- /.social__link -->
        <li class="social__link">
          <a class="social__icon twitter" href="http://twitter.com/museelouvre" target="_blank"
            rel="noopener noreferrer"></a>
        </li>
        <!-- /.social__link -->
        <li class="social__link">
          <a class="social__icon pinterest" href="https://www.pinterest.fr/museedulouvre/" target="_blank"
            rel="noopener noreferrer"></a>
        </li>
        <!-- /.social__link -->

      </ul>
      <!-- /.social__list -->

    </div>
    <!-- /.footer__social-field -->

  </div>
  <!-- /.footer__main -->

  <div class="footer__footer">
    <p>
      © 2021
    </p>
    <p>
      <a href="https://rs.school/" target="_blank" rel="noopener noreferrer">
        The Rolling Scopes School
      </a>
    </p>
    <p>
      <a href="https://github.com/dobkir" target="_blank" rel="noopener noreferrer">
        Pavel Kirillov
      </a>
    </p>
  </div>
  <!-- /.footer__footer -->

</div>
<!-- /.container footer__container -->