<meta charset="UTF-8">

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">

<title>{{ title }}</title>

<meta name="description" content="museum">
<meta name="theme-color" content="#202222">

<link rel="stylesheet" href="assets/css/style.min.css">
<link rel="icon" href="assets/img/favicon.png">
<link href='https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.css' rel='stylesheet' />